# Root gitignore for Monorepo (Go Microservices + React Frontend)

# Frontend dependencies and builds
**/node_modules/
**/dist/
**/dist-ssr/
frontend/*.local

# Microservice environment variables & temp files
**/user-service/user-service
**/post-service/post-service
**/api-gateway/api-gateway
**/.env
**/postgres_users_data/
**/postgres_posts_data/

# Editor & System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

